

@font-face{

    src: url(font/Playwrite_AU_QLD/PlaywriteAUQLD-VariableFont_wght.ttf);
    font-family: Pacifico-Regular;
}

h1{
    font-family: "Pacifico-Regular";
}
p{
    font-family: "Pacifico-Regular";
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}