body{

    margin: 0px;

}
.box{

    border: 5px solid;
    font-size: 5em;
    height:250px;
    width: 250px;;
    
}
#box1{

    background-color:red;
    margin-bottom: 50px;
    margin-left: auto;
}
#box2{
    background-color: blue;
    margin-left:40px;
}