h1::first-letter{

  font-size: 2em;
  font-style: italic;
}
p::first-line{
  background-color: yellowgreen;
}
p::selection{
  color: greenyellow;
  background-color: black;
}
/* #fruit::before{
  content: "✅";
  */

#apple::after{
  content: "🍎";
} 
#orange::after{
  content: "🍊";
}
#banana::after{
  content: "🍌";
}
#fruit::before{
  content: "✔️";
  color: rgb(100, 90, 90);
  font-size: 1,2em;
}